body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}


.news__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.news__item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    margin: 10px;
    width: 18rem;
    flex: 0 1 24%;
    border-top: mediumseagreen 4px solid ;
    border-radius: 4px;
    font-weight: bold;
    font-size: large;
}

.news__item p{
    font-weight: normal;
    font-size: 11pt;
}

.news__item img{
    height: 200px;
    width: 16rem;
    padding-bottom: 8px;
}

.container{
    text-align: center;
}